.back_arrow {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
}
/*------------------ Internal External Button ------------- */
.internal_external_button_container {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
}
.external_agent {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 5px;
}
.external_agent button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 10px;
    border-radius: 5px;
}
/* -------------- Pan loader  ----------------------- */
.pan_loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.agent_document_image {
    height: 400px;
    width: 500px;
    justify-self: center;
}

.agent_document_image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.preview_image_container {
    margin-top: 10px;
}

.preview_image_container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.row_actions {
    position: absolute;
    z-index: 9;
    right: 1rem;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    background: #fff;
    border: 1px solid rgba(38, 38, 38, 0.2);
    box-shadow: 5px 5px 5px rgba(38, 38, 38, 0.5);
}

.row_actions li {
    text-decoration: underline;
}

.merchants_select {
    outline: none;
    padding: 2px 5px;
    border: 1px solid rgba(38, 38, 38, 0.3);
    border-radius: 5px;
    padding: 5px;
}
.start_date_and_end_date {
    display: flex;
    gap: 20px;
}
.date_input {
    outline: none;
    border: 1px solid rgba(38, 38, 38, 0.3);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
/* --------------- Pan number with icon ---------- */
.panNumber_with_validation_icon {
    display: flex;
    align-items: center;
    border: 1px solid rgba(38, 38, 38, 0.4);
    border-radius: 5px;
    padding-right: 5px;
}
.panNumber_with_validation_icon input {
    border: none;
}

/* ---------------- File view ------------- */
.file_mini_view {
    width: 100%;
    height: 100px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(38, 38, 38, 0.5);
    overflow: hidden;
    position: relative;
}

.max_view {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.mini_file {
    height: 100px;
}

.preview_uploaded_file {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(38, 38, 38, 0.3);
}

.open_file_dimension {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 90%;
    max-width: 60%;
    transform: translate(-50%, -50%);
    background: #FFF;
    padding: 1rem 2rem;
    border-radius: 10px;
    overflow: hidden;
}

.open_file_dimension {
    width: 60%;
    height: 100%;
    position: relative;
}

.pdf_close_icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding-bottom: 1rem;
    font-size: 20px;
}

.preview_pdf_file {
    width: 100%;
    height: 100%;
}
.open_file {
    width: 100%;
    height: 100%;
    border: none;
}